@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*{
  font-family: 'RocknRoll One', sans-serif;
}
button{
    width: 150px;
    border-radius: 24px;
}
.background{
    width:100%;
    background-image: url("image/background.jpg");
    background-size:100% auto;
}
.rgb-gray{
    background-color: rgba(0,0,0,0.5);
    width:75%;
    margin:0 auto;
    border-radius: 10px;
}
.rgb-gray img{
    border-radius: 10px;
}

/*見出しの装飾*/
h1 {
    position: relative;
    display: inline-block;
    padding: 0 55px;
  }
  
  h1:before, h1:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 2px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }
  
  h1:before {
    left:0;
  }
  h1:after {
    right: 0;
  }


  .bg-indigo{
    background-color: #0D142E;
  }
  .bg-blue{
    background-color:#2A324F;
  }
  
  /*hoverで透過*/
.img_wrap{
    margin: 0 auto;
    overflow: hidden;
  }
  .img_wrap img{
    width: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .img_wrap:hover img{
    opacity: 0.6;
    transition-duration: 0.3s;
  }

.asp16-9{
  aspect-ratio: 16/9;
}

.loading-005 {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color:#FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-005 span {
  display: inline-block;
  color: #2589d0;
  font-weight: 600;
  font-size: 1.5em;
  animation: animation-loading-005 1s infinite;
}

.loading-005 span:nth-of-type(2) {
  animation-delay: .1s;
}

.loading-005 span:nth-of-type(3) {
  animation-delay: .2s;
}

.loading-005 span:nth-of-type(4) {
  animation-delay: .3s;
}

.loading-005 span:nth-of-type(5) {
  animation-delay: .4s;
}

.loading-005 span:nth-of-type(6) {
  animation-delay: .5s;
}

.loading-005 span:nth-of-type(7) {
  animation-delay: .6s;
}

.loading-005 span:nth-of-type(8) {
  animation-delay: .7s;
}

.loading-005 span:nth-of-type(9) {
  animation-delay: .8s;
}

.loading-005 span:nth-of-type(10) {
  animation-delay: .9s;
}

@keyframes animation-loading-005 {
  50% {
      transform: translateY(10px);
  }
}
.loaded {
  opacity: 0;
  visibility: hidden;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1s;
}