@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Zen+Old+Mincho:wght@600&display=swap');



*{
  font-family: 'Zen Old Mincho', serif;
}
html,body{
  overflow-x: hidden;
}
button{
    width: 150px;
    border-radius: 24px;
}
.page a{
  color:black;
}
ul{
  list-style: none;
}
a:hover{
  color:#9c7c29;
}
.text-whitesmoke{
  color:#f5f5d9;
}
.background_home{
  width:100%;
  background-image: url("image/background_home.png");
  background-size:cover;
}
.background_home > div{
  max-width:1000px;
}
.background{
  width:100%;
  background-color:#4d3831;
  background-size:cover;
}
.background > div {
  max-width:1000px;
  margin:auto;
}
.rgb-gray{
  background-color: rgba(0,0,0,0.3);
  width:75%;
  margin:0 auto;
  border-radius: 10px;
}
.radius-img{
  border-radius: 10px;
}

.pager{
  display: flex;
  justify-content: center;
}
.upper{
  margin:-3em 0 0 0;
}

.page .nuxt-link-exact-active{
  background-color: #9c7c29;
  color:#f5f5d9;
}

.page a{
  text-decoration: none;
  background-color: #f5f5d9;
  border-radius: 5px;
  padding : 2px 10px 5px 10px;
  margin: 5px 10px;
}
/*フォームの装飾*/
.flex-1{
  flex:1;
}
.form_submit{
  color: #f5f5d9;
  border: #9c7c29 1px;
  background: #9c7c29;
}
/*見出しの装飾*/
h1 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  margin-top:20px;
}

h1:before, h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px #f5f5d9;
  border-bottom: solid 1px #f5f5d9;
}
h1:before {
  left:0;
}
h1:after {
  right: 0;
}
.text-gold{
  color:#9c7c29;
}
/*ボタン装飾*/
.btn-outline-gold:hover{
  background-color:#9c7c29;
  color:#212529;
}
.btn-outline-gold{
  border-color:#9c7c29;
  color:#f5f5d9;
}
.btn-gold{
  color:#f5f5d9;
  background-color:#9c7c29;
}
.border-gold{
  border-top:dashed #9c7c29;
  border-bottom:dashed #9c7c29;
}
/*高さを画面幅いっぱいとる*/
.vh-100{
  height:100vh;
}
.bg-brown{
  background-color: #35221E;
}

.bg-indigo{
  background-color: #0D142E;
}
.bg-blue{
  background-color:#2A324F;
}
.bg-gray{
  background-color: #f1f0ea;
}

.hov:hover{
  opacity:0.5;
	transition:0.02s;
}

/*アスペクト比*/
.asp1-1{
  aspect-ratio: 1/1;
}

/*footer部分のborder*/
.border-right{
  border-right: solid 2px #9c7c29;
}

/*y軸方向にマージン*/
.my{
  margin:1em 0;
}

.no_color{
  color:rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}
.d-no{
  display: none;
}
.home_img_m{
  margin-top:3em;
}
.p_tiku_text{
  padding:0.5em 3em;
  margin:0;
}
.f-item-wrap{
  padding-top:3em;
  width:80%;
}
/* メディアクエリ */
@media (max-width: 768px) {
  .border-right{
    border-bottom: dashed 2px #9c7c29;
    border-right:none;
  }
  #pc{
    display:none;
  }
  #iphone{
    display:block;
  }

  .home{
    display: none;
  }
  .home_small{
    display:block;
  }
  .my{
    padding-bottom:1em;
    margin-bottom:0;
  }
  .background_home{
    width:100%;
    background-image: url("image/background_home_iphone.png");
    background-size:cover;
  }
  .f-item-wrap{
    padding-top:0;
  }
}
@media (max-width: 575px){
  .home_text_res{
    padding: 0 5em;
  }
  .home_toptext_res{
    padding:0 1em;
  }
  #pc_s{
    display:none;
  }
  #iphone_s{
    display:block;
  }
  .home_img_m{
    margin-top:0;
  }
  .background_home{
    width:100%;
    background-color:#4d3831;
    background-image:none;
    background-size:cover;
  }
}

/* ここから下がハンバーガーメニューに関するCSS */

/* ハンバーガーメニュー */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

 


  
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

 

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

 

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s;
  position: absolute;
}

 

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

 

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

 

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

 

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

 

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 35%;
  position: fixed; 
  bottom: 100%;
  left: 0%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background-color: #35221E;
  transition: .5s;
  text-align: center;
  padding-top: 20px;
}

 

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

 

.nav_item a {
  color: #fff;
  text-decoration: none;
}

 

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  top: 0;/* メニューを画面に入れる */
  
}