
  @import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Zen+Old+Mincho:wght@600&display=swap');



*{
  font-family: 'Zen Old Mincho', serif;
}
html,body{
  overflow-x: hidden;
}
button{
    width: 150px;
    border-radius: 24px;
}
a{
  color:white;
}
ul{
  list-style: none;
}
.background_home{
    width:100%;
    background-image: url("image/background_home.png");
    background-size:cover;
}
.background{
  width:100%;
  background-image: url("image/background.png");
  background-size:cover;
}
.rgb-gray{
    background-color: rgba(0,0,0,0.3);
    width:75%;
    margin:0 auto;
    border-radius: 10px;
}
.radius-img{
    border-radius: 10px;
}

.pager{
  display: flex;
  justify-content: center;
}


.page .nuxt-link-exact-active{
  background-color: #2589d0;
  color:white;
}

.page a{
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  padding :5px 10px;
  margin: 5px 10px;
}

/*見出しの装飾*/
h1 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  margin-top:20px;
}

h1:before, h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

h1:before {
  left:0;
}
h1:after {
  right: 0;
}


.bg-brown{
  background-color: #35221E;
}

.bg-indigo{
  background-color: #0D142E;
}
.bg-blue{
  background-color:#2A324F;
}
.bg-gray{
  background-color: #f1f0ea;
}

.hov:hover{
  opacity:0.5;
	transition:0.3s;
}

.asp16-9{
  aspect-ratio: 16/9;
}

.border-right{
  border-right: solid 2px #9c7c29;
}

.my{
  margin:1em 0;
}

.no_color{
  color:rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}
.d-no{
  display: none;
}
.home_text_m{
  margin-top:3em;
}
.home_img_m{
  margin-top:3em;
}
.p_tiku_text{
  padding:0.5em 3em;
}
/* メディアクエリ */
@media (max-width: 768px) {
.border-right{
  border-bottom: dashed 2px #9c7c29;
  border-right:none;
}
#pc{
  display:none;
}
#iphone{
  display:block;
}

.my{
  padding-bottom:1em;
}
}
@media (max-width: 575px){
  .home_text_res{
    padding: 0 5em;
  }
  .home_toptext_res{
    padding:0 1em;
  }
  #pc_s{
    display:none;
  }
  #iphone_s{
    display:block;
  }
  .home_img_m{
    margin-top:0;
  }
}



/* ハンバーガーメニュー */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

 

/* ここから下がハンバーガーメニューに関するCSS */
  
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

 

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

 

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s;
  position: absolute;
}

 

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

 

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

 

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

 

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

 

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed; 
  bottom: 100%;
  left: 0%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgb(110, 110, 110);
  transition: .5s;
  text-align: center;
  padding-top: 20px;
}

 

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

 

.nav_item a {
  color: #fff;
  text-decoration: none;
}

 

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  bottom: 0;/* メニューを画面に入れる */
  
}