button{
    width: 150px;
    border-radius: 24px;
}
.background{
    width:100%;
    background-image: url("image/background.jpg");
    background-size:cover;
}
.rgb-gray{
    background-color: rgba(0,0,0,0.5);
    width:75%;
    margin:0 auto;
    border-radius: 10px;
}
.rgb-gray img{
    border-radius: 10px;
}
.home_img{
    width: 300px;
    
}

span{
    
    background: #2633a7; /*背景色*/
    padding: 0.2em;/*文字周りの余白*/
    color: white;/*文字を白に*/
    border-radius: 0.5em;/*角の丸み*/
}